.parallax{
    background-image: url('https://wallpaperaccess.com/full/1983078.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}