<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">
                Sejam bem-vindes ao meu blog!
            </h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur debitis possimus eos sequi est impedit
                soluta veniam nesciunt consequuntur eius, consectetur obcaecati omnis unde harum nemo! Architecto dolorem
                pariatur sunt.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi eveniet quae odio, tempora, nostrum quaerat
                iure temporibus cumque, amet eum voluptates tenetur. Ratione dolore expedita velit a odio aut quas!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe rerum blanditiis fuga ratione excepturi ex
                non corrupti quo assumenda perferendis nostrum molestias laboriosam inventore, sed sit tempore?
                Voluptatibus, autem maxime?
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold"> Ver o Feed</button>
        </div>
    </div>