<hr>
<div class="row">
    <div class="col-md-12 p-0 d-flex justify-content-center bg-secondary">
        <a href="https://github.com/LauraBrosens" target="_blank" class="pt-3 p-3">
            <fa-icon [icon]="faGithub" style="color:white; font-size:48px"></fa-icon>
        </a>
        <a href="https://linkedin.com/in/LauraBrosens/" target="_blank" class="pt-3 p-3">
            <fa-icon [icon]="faLinkedin" style="color:white; font-size:48px"></fa-icon>
        </a>
        <a href="https://facebook.com/LauraBrosens" target="_blank" class="pt-3 p-3">
            <fa-icon [icon]="faFacebook" style="color:white; font-size:48px"></fa-icon>
        </a>
    </div>
</div>
<div class="row bg-dark">
    <div class="col p-0 w-100">
        <p class="text-center" style="color:white; padding-top: 15px; margin-bottom: 5px;">©Laura Brosens</p>
    </div>
</div>